.container {
    width: 500px;
    min-height: 250px;
    padding: 40px;
    margin: 50px auto;
    background: linear-gradient( rgb(67, 129, 236), rgba(0, 0, 0, 0.653));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}



.container h1 {
    text-align: center;
            font-family: poppins, sans-serif;
            font-size: 40px;
            color: #030303eb;
            text-shadow: 4px 4px 6px #aaaaaa;
            margin-top: -25px;
            animation: fadeInUp 1.0s ease-out forwards;
        }

.container h2 {
     text-align: center;
            font-family: poppins, sans-serif;
            font-size: 25px;
            color: #030303eb;
            text-shadow: 4px 4px 6px #aaaaaa;
            margin-top: 25px;
            animation: fadeIn 1.5s ease-out forwards;
        }

 @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 5;
                transform: translateY(0px);
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 5;
            }
        }