@media (max-width: 768px) {

    body {
        overflow-x: hidden;
    }

    .container {
        padding: 20px;
        margin: 20px 15px;
        border-radius: 20px;
    }

    .container h1 {
        font-size: 28px;
        margin-top: 0;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .container h2 {
        font-size: 30px;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .container p {
        font-size: 16px;
        margin-top: 0;
        text-align: center;
        font-family: 'Poppins', sans-serif;
    }

    .title {
        text-align: center;
    }

    .profile-pic {
        width: 160px;
        height: 160px;
        margin: 20px auto 0 auto;
        display: block;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
}




@media (max-width: 768px) {

    #wrapper {
        max-width: 100%;
    }

    h2.title {
        text-align: center;
        width: 100%;
    }

    #soc-med-links {
        justify-content: center;
        gap: 12px;
    }

    #soc-med-links .soc-med-links-item {
        width: 80%;
        max-width: 320px;
        padding: 10px 14px;
        border-radius: 1.5rem;
    }

    #soc-med-links .soc-med-links-item a {
        justify-content: flex-start;
        gap: 14px;
    }

    #soc-med-links .soc-med-links-item .soc-med-links-item-text {
        width: auto;
        opacity: 1;
        margin: 0;
        white-space: nowrap;
    }

    #soc-med-links .soc-med-links-item:hover 
    .soc-med-links-item-text {
        animation: none;
    }

    #soc-med-links .soc-med-links-item-icon {
        height: 44px;
        width: 44px;
        font-size: 1.6rem;
    }
}
