:root{
    --bg-primary: #3876BF;
    --bg-secondary: #000000;
    --bg-red: #D80032;
    --bg-dark: #242130;
    --bg-warn: #FBDA61;
    --bg-gradient: linear-gradient(45deg, #FBDA61 0%, #FF5ACD 100%);
}

* {
    font-family: 'Exo 2', sans-serif;
}
 
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
}
#wrapper{
    width: 100%;
    max-width: 500px;
}

h2.title{
    font-weight: bold;
    color:#050707;
    letter-spacing: 0.3px;
    text-align: left;

}
 
 
#soc-med-links{
    display: flex;
    flex-flow: row wrap;
    min-width: 100px;
    max-width: 100%;
    gap: 20px;
    justify-content: flex-start;
}
 

#soc-med-links .soc-med-links-item {
    box-shadow: 0px 3px 3px #0000003a;
    background:linear-gradient(145deg, #fdfcfa, #d3cbcb);
    border-radius: 2rem;
    transition: all .3s ease-in-out;
    margin-top: 10px;
    align-items: center;
    
}
 

 
#soc-med-links .soc-med-links-item a{
    text-decoration: none !important;
    color:#352F44 !important;
    display: flex;
    align-items: center;
    justify-content: center;
}
 

#soc-med-links .soc-med-links-item .soc-med-links-item-icon {
    height: 50px;
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #e8e8e8;
    background-color: #fff;
    border-radius: 50% 50%;
    font-size: 2rem;
}
 

#soc-med-links .soc-med-links-item .soc-med-links-item-text {
    font-size: 14px;
    font-weight: 600;
    letter-spacing: .5px;
    overflow: hidden;
    width: 0;
}
 

#soc-med-links .soc-med-links-item:hover .soc-med-links-item-icon{
    position: relative;
    top: 1px;
    left: 1px;
    border:unset;
}
 
#soc-med-links .soc-med-links-item:hover .soc-med-links-item-icon.bg-primary{
    background-color: var(--bg-primary);
    color: #fff;
}
#soc-med-links .soc-med-links-item:hover .soc-med-links-item-icon.bg-secondary{
    background-color: var(--bg-secondary);
    color: #fff;
}
#soc-med-links .soc-med-links-item:hover .soc-med-links-item-icon.bg-dark{
    background-color: var(--bg-dark);
    color: #fff;
}
#soc-med-links .soc-med-links-item:hover .soc-med-links-item-icon.bg-red{
    background-color: var(--bg-red);
    color: #fff;
}
#soc-med-links .soc-med-links-item:hover .soc-med-links-item-icon.bg-gradient{
    background-color: var(--bg-warn);
    background-image: var(--bg-gradient);
    color: #fff;
}
 
#soc-med-links .soc-med-links-item:hover .soc-med-links-item-text{
    animation: expandingAnimation 0.8s ease forwards;
    animation-delay: 0.2s;
}
 
 
@keyframes expandingAnimation {
    0%{
        width: 0;
        margin: 0px 0px;
        opacity: 0;
    }
    50%{
        width: 50%;
        margin: 2px 5px;
        opacity: 0.5;
    }
    100%{
        width: auto;
        margin: 5px 10px;
        opacity: 1;
    }
}
