body {
            background-image: url('bg.jpg');
            background-size: cover;
            height: 100vh;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

      
        .namecontainer {
            text-align: center;
            font-family: sans-serif;
            text-shadow: 4px 4px 6px #8e57d2e6;
            margin-top: -60px;
            animation: fadeInUp 2.0s ease-out forwards;
        }

        h2 {
            text-align: center;
            font-family: sans-serif;
            font-size: 25px;
            color: #030303eb;
            text-shadow: 4px 4px 6px #aaaaaa;
            margin-top: -10px;
            animation: fadeIn 3.5s ease-out forwards;
        }

        .container .namecontainer {
            background: #c0a1e4;
            padding: 35px;
            border-radius: 15px;
            text-align: center;
            width: 300px;
            box-shadow: 6px 6px 18px rgba(0,0,0,0.25), -6px -6px 18px rgba(69, 60, 60, 0.6);
        }    

       .namecontainer h2 {
           margin-bottom: 15px;
           font-size: 22px;
           font-weight: bold;
        }

        .input-box {
            position: relative;
            width: 95%;
            margin-bottom: 15px;
        }

        .namecontainer .input-box input {
          width: 100%;
          padding: 12px;
         font-size: 16px;
         border-radius: 10px;
         border: none;
         outline: none;
         box-shadow: inset 2px 2px 5px rgba(0,0,0,0.3), inset -2px -2px 5px rgba(125, 114, 114, 0.7);
         caret-color: #030303eb;
         background-color: #b28ae0;
         }

        .input-box label {
            position: absolute;
            left: 12px;
            bottom: 12px;
            font-size: 16px;
            color: #666;
            pointer-events: none;
            transition: all 0.3s ease;
        }

        .input-box input:focus + label,
        .input-box label.filled {
            bottom: 35px;
            font-size: 12px;
            color: #000000eb;
        }


        .namecontainer button {
         width: 30%;
         padding: 12px;
         border: none;
         border-radius: 10px;
         background: linear-gradient(145deg, #a083cce6, #a687cbe6);
         font-weight: bold;
         cursor: pointer;
         box-shadow: 5px 5px 15px rgba(0,0,0,0.3), -5px -5px 15px rgba(255,255,255,0.5);
         transition: 0.3s ease;
         outline: none;
        }

        .namecontainer button:hover {
         transform: translateY(-3px);
        }

        @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(30px);
            }
            to {
                opacity: 1;
                transform: translateY(0);
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }
