.container {
    width: 500px;
    min-height: 250px;
    padding: 40px;
    margin: 50px auto;
    background: linear-gradient( rgb(240, 236, 236), rgba(136, 125, 125, 0.653));
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.7);
}



.container h1 {
    text-align: center;
            font-family: poppins, sans-serif;
            font-size: 40px;
            color: #030303eb;
            text-shadow: 4px 4px 6px #aaaaaa;
            margin-top: -25px;
            animation: fadeInUp 1.0s ease-out forwards;
        }

.container h2 {
     text-align: center;
            font-family: poppins, sans-serif;
            font-size: 25px;
            color: #030303eb;
            text-shadow: 4px 4px 6px #aaaaaa;
            margin-top: 25px;
            animation: fadeIn 1.5s ease-out forwards;
        }

 @keyframes fadeInUp {
            from {
                opacity: 0;
                transform: translateY(20px);
            }
            to {
                opacity: 5;
                transform: translateY(0px);
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0;
            }
            to {
                opacity: 5;
            }
        }
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none; 
    color: white;
    cursor: pointer; 
    overflow: hidden; 
    position: relative; 
}

.card.red{
  width: 240px;
  height: 140px;
  padding: 20px;
  border-radius: 18px;
  background: linear-gradient(135deg, #d73838, #000);
  color: white;  
  transform: scale(0.9);
  opacity: 0.6;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.card.blue{
  width: 240px;
  height: 140px;
  padding: 20px;
  border-radius: 18px;
  background: linear-gradient(135deg, #4471e2, #03000c);
  color: white;

  transform: scale(0.9);
  opacity: 0.6;

  transition: transform 0.3s ease, opacity 0.3s ease;
}



.card:hover {
  transform: scale(1.03);
  opacity: 1;
  z-index: 5;
}


.card h3, .card p {
    margin: 0;
    padding: 0;
}

.card:hover h3 {
  letter-spacing: 4px;
}
.card:hover p {
  opacity: 1;
  transform: translateY(0);
}

.card:focus {
    outline: none;
}

     
